/*==========  section footer ==========*/
footer {
  background: #f8f8f8;
  padding: 70px 0; }

.footer-box {
  margin: 0 0 50px; }
  .footer-box__title {
    margin: 0 0 25px;
    color: #212121;
    font-size: 20px;
    font-weight: 300; }
    .footer-box__title:hover {
      color: #162ee7; }

.footer-menu li {
  margin: 0 0 20px; }
  .footer-menu li:last-child {
    margin: 0; }
  .footer-menu li a {
    color: #212121; }
    .footer-menu li a:hover {
      color: #162ee7; }

.footer-item {
  margin: 0 0 15px; }
  .footer-item:last-child {
    margin: 0; }
  .footer-item a {
    color: #212121; }
    .footer-item a:hover {
      color: #162ee7; }

.tel {
  font-weight: 500;
  margin: 0 0 10px; }

.list-bank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .list-bank li {
    margin: 0 29px 10px 0; }
    .list-bank li:last-child {
      margin: 0 0 10px; }

.social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .social-box p {
    margin: 0 24px 0 0;
    line-height: 1.38;
    max-width: 90px; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .list-social li {
    margin: 0 16px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      width: 40px;
      height: 40px;
      min-width: 40px; }
      .list-social li a img {
        width: 100%; }

/*==========  section footer end  ==========*/
/*==========  section modal ==========*/
.modal-dialog {
  max-width: 427px; }

.modal-content {
  border: solid 2px #fcc204;
    border-radius: 14px;
  background: #fff;
  padding: 40px 43px; }

.modal-header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0;
  border: none;
  text-align: center; }
  .modal-header .btn-close {
    margin: 0;
    position: absolute;
    z-index: 1;
    opacity: 1;
    padding: 0;
    top: 12px;
    right: 12px;
    background: url("../img/close.svg") no-repeat center;
      background-size: 100%;
    width: 13px;
    height: 14px;
    border-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.modal-title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  margin: 0 auto 10px; }

.modal-subtitle {
  margin: 0 auto; }

.modal-body {
  padding: 0;
  margin: 30px 0 0;
  width: 100%; }

.form label {
  margin: 0 0 16px; }

.form input {
  height: 40px;
  width: 100%;
  border: solid 1px #eee;
    border-radius: 3px;
  font-weight: 100;
  padding: 0 20px; }

.form textarea {
  font-weight: 100;
  padding: 26px 20px;
  border: solid 1px #eee;
    border-radius: 3px; }

.form .checkbox {
  font-size: 13px;
  font-weight: 100; }

.form button {
  margin: 0 auto; }

.modal-backdrop.show {
  opacity: .75; }

/*==========  section modal end  ==========*/
