/*==========  section home ==========*/
.home {
  margin: 0 0 70px; }

.home-slider-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #f8f8f8;
  border-radius: 14px;
  padding: 40px 50px 40px 70px; }
  .home-slider-item__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 793px;
    width: 100%;
    height: 415px; }
    .home-slider-item__image img {
      max-height: 100%; }
  .home-slider-item__content {
    width: calc(100% - 793px);
    padding: 0 50px 0 0; }
  .home-slider-item__title {
    font-size: 40px;
    font-weight: bold; }
  .home-slider-item .box-text {
    margin: 30px 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5; }
  .home-slider-item__advantages {
    font-size: 18px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .home-slider-item__advantages-icon {
      width: 42px;
      min-width: 42px;
      margin: 0 14px 0 0; }
    .home-slider-item__advantages-text {
      max-width: 255px; }
  .home-slider-item .btn {
    margin: 30px 0 0; }

/*==========  section home end  ==========*/
/*==========  section category ==========*/
.category {
  margin: 0 0 60px; }

.category-item {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #212121;
  margin: 0 0 30px; }
  .category-item:hover {
    color: #162ee7; }
  .category-item__name {
    max-width: 130px;
    margin: 0 auto;
    display: block; }
  .category-item__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 24px;
    width: 170px;
    height: 150px;
    background: #f8f8f8;
    border-radius: 10px;
    padding: 10px; }
    .category-item__image img {
      max-height: 100%; }

/*==========  section category end  ==========*/
/*==========  section about-product ==========*/
.about-product {
  margin: 0 0 90px; }
  .about-product .wrapper-content {
    padding: 36px 0 0 50px; }
  .about-product__content {
    padding: 20px 0 55px; }
  .about-product__image {
    width: 100%; }
    .about-product__image img {
      width: 100%; }
  .about-product .box-text {
    color: #666;
    max-width: 522px;
    margin: 30px 0; }
  .about-product h4 {
    font-weight: 500;
    max-width: 460px;
    margin: 0 0 30px; }

/*==========  section about-product end  ==========*/
/*==========  section advantages ==========*/
.advantages-box {
  width: 100%;
  height: 100%;
  text-align: center;
  border: solid 1px #fcc204;
    border-radius: 10px;
  background-color: #fff;
  padding: 46px 27px 30px; }
  .advantages-box p {
    color: #666; }
  .advantages-box__icon {
    height: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .advantages-box__icon img {
      max-height: 100%; }
  .advantages-box h4 {
    font-weight: 700;
    font-size: 22px;
    max-width: 220px;
    margin: 25px auto; }

/*==========  section advantages end  ==========*/
/*==========  section best-offers ==========*/
.best-offers {
  margin: 60px 0 90px; }

/*==========  section best-offers end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
