@font-face {
  font-family: "GTEestiProDisplay";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/GTEestiProDisplay/GTEestiProDisplay-Thin.eot");
  src: url("../fonts/GTEestiProDisplay/GTEestiProDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/GTEestiProDisplay/GTEestiProDisplay-Thin.woff") format("woff"), url("../fonts/GTEestiProDisplay/GTEestiProDisplay-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "GTEestiProDisplay";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/GTEestiProDisplay/GTEestiProDisplay-Light.eot");
  src: url("../fonts/GTEestiProDisplay/GTEestiProDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GTEestiProDisplay/GTEestiProDisplay-Light.woff") format("woff"), url("../fonts/GTEestiProDisplay/GTEestiProDisplay-Light.ttf") format("truetype"); }

@font-face {
  font-family: "GTEestiProDisplay";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/GTEestiProDisplay/GTEestiProDisplay-Medium.eot");
  src: url("../fonts/GTEestiProDisplay/GTEestiProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GTEestiProDisplay/GTEestiProDisplay-Medium.woff") format("woff"), url("../fonts/GTEestiProDisplay/GTEestiProDisplay-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "GTEestiProDisplay";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/GTEestiProDisplay/GTEestiProDisplay-Bold.eot");
  src: url("../fonts/GTEestiProDisplay/GTEestiProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GTEestiProDisplay/GTEestiProDisplay-Bold.woff") format("woff"), url("../fonts/GTEestiProDisplay/GTEestiProDisplay-Bold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "GTEestiProDisplay", sans-serif;
  font-weight: 300;
  background: #fff;
  color: #212121; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select, .form-control {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 29px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "GTEestiProDisplay", sans-serif;
  border: none;
    border-radius: 0;
  width: 100%;
  height: 50px;
  color: #666;
  font-size: 14px;
  font-weight: 300; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder, .form-control::-webkit-input-placeholder {
    color: #666; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder, .form-control::-moz-placeholder {
    color: #666; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder, .form-control::-ms-input-placeholder {
    color: #666; }
  input::placeholder, textarea::placeholder, select::placeholder, .form-control::placeholder {
    color: #666; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus, .form-control:hover, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

textarea {
  resize: none;
  height: 130px; }

label {
  display: block;
  width: 100%; }

button, .btn {
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "GTEestiProDisplay", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
    border-radius: 0; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 36px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 27px;
  font-size: 16px;
  font-weight: 500; }

.btn-accent {
  color: #212121;
  background: #fcc204;
  border: solid 1px #fcc204;
    border-radius: 18px; }
  .btn-accent:hover {
    background: #f7f7f7;
    color: #212121; }

.btn-light-grey {
  background: #f7f7f7;
  color: #212121;
  border-radius: 18px; }
  .btn-light-grey:hover {
    background: #fcc204;
    color: #212121; }

.btn-md {
  font-size: 18px;
  height: 54px;
  padding: 0 62px;
  border-radius: 27px; }

.btn-border {
  border: 1px solid #fcc204;
  color: #212121;
  padding: 0 24px; }
  .btn-border:hover {
    background: #fcc204;
    color: #fff; }

.btn-link {
  text-decoration: none; }

.btn-white {
  background: #fff;
  padding: 0 25px; }
  .btn-white:hover {
    background: #fcc204;
    color: #fff; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

strong, b {
  font-weight: bold;
  display: inline-block; }

ul, ol {
  padding: 0 0 0 20px; }

.my-ul {
  list-style: none;
  padding: 0; }

.container {
  max-width: 1390px; }

h2 {
  width: 100%;
  color: #212121;
  font-size: 30px;
  font-weight: 700;
  margin: 0 auto 30px; }

.subtitle {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 300; }

.subtitle {
  width: 100%;
  font-size: 20px;
  font-weight: 300; }

.wrapper-content {
  background: #f8f8f8;
  width: 100%;
  padding: 36px 50px;
  border-radius: 14px; }

.mb-30 {
  margin-bottom: 30px; }

.dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212121;
  font-size: 14px; }
  .dropdown-toggle:after {
    content: '';
    border: none;
    width: 9px;
    height: 5px;
    background: url("../img/arrow-small_black.svg") no-repeat center;
      background-size: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 9px; }

.dropdown-menu[data-bs-popper] {
  margin-top: 20px; }

.dropdown-menu {
  border: none;
    border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0.4px 8px 29px 0 rgba(45, 45, 45, 0.14);
          box-shadow: 0.4px 8px 29px 0 rgba(45, 45, 45, 0.14);
  min-width: 170px;
  margin: 20px 0 0;
  padding: 0; }
  .dropdown-menu > li {
    position: relative; }
    .dropdown-menu > li:hover {
      background: #f8f8f8; }
      .dropdown-menu > li:hover > .dropdown-item {
        color: #162ee7; }
      .dropdown-menu > li:hover .dropdown-submenu {
        display: block; }
    .dropdown-menu > li:first-child {
      border-radius: 10px 10px 0 0; }
      .dropdown-menu > li:first-child .dropdown-item {
        border-radius: 10px 10px 0 0; }
    .dropdown-menu > li:last-child {
      border-radius: 0 0 10px 10px; }
      .dropdown-menu > li:last-child .dropdown-item {
        border-radius: 0 0 10px 10px; }
      .dropdown-menu > li:last-child ul li {
        border-radius: 0; }
        .dropdown-menu > li:last-child ul li .dropdown-item {
          border-radius: 0; }
        .dropdown-menu > li:last-child ul li:first-child {
          border-radius: 10px 10px 0 0; }
          .dropdown-menu > li:last-child ul li:first-child .dropdown-item {
            border-radius: 10px 10px 0 0; }
        .dropdown-menu > li:last-child ul li:last-child {
          border-radius: 0 0 10px 10px; }
          .dropdown-menu > li:last-child ul li:last-child .dropdown-item {
            border-radius: 0 0 10px 10px; }
  .dropdown-menu .dropdown-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.dropdown-submenu {
  position: absolute;
  left: 100%;
  top: 0;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0.4px 8px 29px 0 rgba(45, 45, 45, 0.14);
          box-shadow: 0.4px 8px 29px 0 rgba(45, 45, 45, 0.14);
  min-width: 264px;
  display: none; }
  .dropdown-submenu li:first-child, .dropdown-submenu li:last-child {
    border-radius: 0; }
    .dropdown-submenu li:first-child .dropdown-item, .dropdown-submenu li:last-child .dropdown-item {
      border-radius: 0; }
  .dropdown-submenu .dropdown-item {
    border-radius: 0;
    color: #212121; }
    .dropdown-submenu .dropdown-item:hover {
      background: #f8f8f8;
      color: #162ee7; }

.dropdown-item {
  padding: 8.5px 16px 8.5px 23px;
  font-size: 16px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .dropdown-item:hover {
    background: transparent; }

.drop-item:hover .dropdown-item:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.drop-item > .dropdown-item:after {
  content: '';
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  width: 6px;
  height: 12px;
  background: url("../img/arrow-small_blue.svg") no-repeat center;
    background-size: 100%; }

.vertical-scroll {
  overflow-y: auto; }
  .vertical-scroll.dropdown-menu {
    max-height: 420px; }
  .vertical-scroll::-webkit-scrollbar {
    width: 3px; }
  .vertical-scroll::-webkit-scrollbar-thumb {
    width: 3px;
    background: #fcc204;
    border-radius: 1.5px; }

.slick-slider {
  width: 100%; }

.slick-slide {
  outline: none; }

.slick-dots {
  position: relative;
  padding: 0;
  bottom: 0;
  width: 100%;
  list-style: none;
  margin: 30px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .slick-dots li {
    cursor: pointer;
    background: #eee;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px 0 0; }
    .slick-dots li:last-child {
      margin: 0; }
    .slick-dots li button {
      display: none; }
  .slick-dots .slick-active {
    background: #212121; }

.slick-arrow {
  z-index: 1;
  position: absolute;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #f7f7f7;
  fill: #212121;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }
  .slick-arrow svg {
    width: 8px;
    height: 15px; }
  .slick-arrow:hover {
    background: #fcc204;
    fill: #212121; }

.nav-tabs {
  border: none;
  font-size: 14px;
  font-weight: 300;
  width: 100%; }
  .nav-tabs .nav-link {
    padding: 0;
    color: #999;
    font-weight: 300;
    font-size: 14px;
    border: none;
      border-radius: 0;
    margin: 0 37px 0 0; }
    .nav-tabs .nav-link:last-child {
      margin: 0; }
    .nav-tabs .nav-link.active {
      color: #212121;
      text-decoration: underline; }

.tab-content {
  width: 100%; }

.checkbox {
  cursor: pointer;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  color: #212121;
  font-size: 16px;
  font-weight: 300; }
  .checkbox input {
    display: none; }
    .checkbox input:checked ~ .checkbox-custom {
      background: #212121 url("../img/check.svg") no-repeat center;
        background-size: 12px; }

.checkbox-custom {
  width: 16px;
  height: 16px;
  min-width: 16px;
  position: relative;
  border-radius: 3px;
  background-color: #f7f7f7;
  margin: 0 12px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.list-checkbox li {
  margin: 0 0 16px; }
  .list-checkbox li:last-child {
    margin: 0; }

.color-blue {
  color: #162ee7; }

a.color-blue:hover {
  color: #212121; }

.link-all {
  font-size: 14px;
  font-weight: 300;
  border-bottom: 1px dotted #162ee7; }

.ml-10 {
  margin-left: 10px; }

.m-90 {
  margin: 90px 0; }

.title-wrapper h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0; }

.list-dots li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .list-dots li:before {
    content: '';
    width: 6px;
    height: 6px;
    min-width: 6px;
    margin: 8px 11px 0 0;
    border-radius: 50%;
    background: #fcc204; }
